*.o
*.d
*.depend
*.layout
CFG-learner.xcodeproj
CFG-learner
DataSets/Noptilus
DataSets/results*
Corpus/Corpus.d
Corpus/Corpus.o
BeamSearch/BeamSearch.d
BeamSearch/BeamSearch.o
commands.txt
Inside-Outside/io
Inside-Outside/*.o
Inside-Outside/cache.grammar
Inside-Outside/cache.grammarNew
Inside-Outside/cache.txt

